<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments :: head">

</head>

<body>
<!-- Start Main Top -->
<div th:replace="fragments ::main-top">

</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="fragments ::main-header">

</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="fragments ::top-search">

</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="fragments ::slider">

</div>
<!-- End All Title Box -->
<div class="mainDiv">

    <div class="cardStyle">
        <div th:if="${error}">
            <p class="text-center alert alert-danger text-danger" th:text="${error}"></p>
        </div>
        <form th:action="@{/update-info}" method="get" name="signupForm" id="signupForm" th:object="${customer}">

            <img src="" id="signupLogo"/>

            <h2 class="formTitle">
                <i>Personal Information</i>
            </h2>

            <div class="inputDiv">
                <label class="inputLabel" for="firstName"> First name * </label>
                <input type="text" id="firstName" name="firsName" th:field="*{firstName}" readonly>
            </div>

            <div class="inputDiv">
                <label class="inputLabel" for="lastName">Last name *</label>
                <input type="text" id="lastName" name="lastName"  th:field="*{lastName}" readonly>
            </div>

            <div class="inputDiv">
                <label class="inputLabel" for="username">User name *</label>
                <input type="text" id="username"  name="username"  th:field="*{username}" readonly>
            </div>
            <div class="inputDiv">
                <label class="inputLabel" for="phoneNumber">Phone number *</label>
                <input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}">
            </div>


            <div class="inputDiv">
                <label class="inputLabel" for="address">Address *</label>
                <input type="text" id="address" name="address" th:field="*{address}">
            </div>


            <div class="inputDiv">
                <label class="inputLabel" for="city">City *</label>
                <input type="text" id="city" name="city" th:field="*{city}">
            </div>

            <div class="inputDiv">
                <label class="inputLabel" for="country">Country *</label>
                <input type="text" id="country" name="country" th:field="*{country}">
            </div>

            <div class="buttonWrapper">
                <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
                    <span>Save</span>
                </button>
            </div>

        </form>
    </div>
</div>
</section>

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<div th:replace="fragments ::script"></div>
</body>

</html>